<h1>Hey gurl.</h1>
<h3>Together, we could make such sweet, sweet databases.</h3>

<form action="/add_person" method="post">
  <label for="first">First name</label><br>
  <input type="text" name="first" autofocus><br>
  <label for="last">Last name</label><br>
  <input type="text" name="last"><br>
  <label for="age">Age</label><br>
  <input type="text" name="age"><br>
  <label for="gender">Gender</label><br>
  <input type="radio" name="gender" value="f" checked> Female
  <input type="radio" name="gender" value="m"> Male<br>
  <label for="dtgd">Down to get down?</label><br>
  <input type="radio" name="dtgd" value="f" checked> No
  <input type="radio" name="dtgd" value="t"> Yes<br>
  <label for="phone">Phone number</label><br>
  <input type="text" name="phone"><br>
  <button>Add person</button>
</form>