<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All your database...</title>
  </head>
  <body>
    <%= yield %>
    <p><a href="/">Back to database</a><p>
    <p><a href="/add_person">Add a person to our database</a></p>
  </body>
</html>